.color-icono-atencion{
    color:#4CAF50;
}

.color-icono-embarazo{
    color:#E91E63;
}

.color-icono-seguimiento{
    color:#3F51B5;
}

h1 {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    color: rgb(00, 00, 00);
    font-family: cursive;
    text-align: center;
}

.form-container > * {
    width: 100%;
}

.form-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-pass {
    min-height:100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    text-align: center;
    padding: 30px;
}